# onderzoeksvragen:

 - In hoeverre is de omzet van een film te voorspellen op basis van de populariteit op Facebook en IMDB zelf?
 - welke kenmerken van een film bepalen de imdb score?
 - Welke genres zijn over de loop van de jaren populairder geworden?
 - In hoeverre heeft de release date van een sequel invloed om de IMDB score van die sequel?

In [1]:
# importeren van libaries voor het 'cleanen van de data'
import pandas as pd
import numpy as np
import os

In [2]:
# test om het bestand te lezen
df_1 = pd.read_csv('moviedataset.csv')
# head eerste 5 regels van het bestand
df_1.head()

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0
2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000
3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,2701.0,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000
4,NaN,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,NaN,Documentary,...,NaN,NaN,NaN,NaN,NaN,NaN,12.0,7.1,NaN,0

In [3]:
# data cleaning dataset 1
data_1 = df_1.drop(["color", "plot_keywords", "aspect_ratio", "movie_imdb_link", "actor_2_facebook_likes", "actor_1_facebook_likes", "actor_3_facebook_likes", "country"], axis=1)
dataset_1 = data_1.reindex(columns= ['movie_title', 'imdb_score', 'title_year', 'duration','genres', 'director_name', 'actor_1_name', 'actor_2_name', 'actor_3_name', 'movie_facebook_likes', 'director_facebook_likes', 'cast_total_facebook_likes', 'content_rating', 'num_user_for_reviews', 'language'])
# De Blank spaces van de data veravangen met none
dataset_1.head()

,movie_title,imdb_score,title_year,duration,genres,director_name,actor_1_name,actor_2_name,actor_3_name,movie_facebook_likes,director_facebook_likes,cast_total_facebook_likes,content_rating,num_user_for_reviews,language
0,Avatar,7.9,2009.0,178.0,Action|Adventure|Fantasy|Sci-Fi,James Cameron,CCH Pounder,Joel David Moore,Wes Studi,33000,0.0,4834,PG-13,3054.0,English
1,Pirates of the Caribbean: At World's End,7.1,2007.0,169.0,Action|Adventure|Fantasy,Gore Verbinski,Johnny Depp,Orlando Bloom,Jack Davenport,0,563.0,48350,PG-13,1238.0,English
2,Spectre,6.8,2015.0,148.0,Action|Adventure|Thriller,Sam Mendes,Christoph Waltz,Rory Kinnear,Stephanie Sigman,85000,0.0,11700,PG-13,994.0,English
3,The Dark Knight Rises,8.5,2012.0,164.0,Action|Thriller,Christopher Nolan,Tom Hardy,Christian Bale,Joseph Gordon-Levitt,164000,22000.0,106759,PG-13,2701.0,English
4,Star Wars: Episode VII - The Force AwakensÂ ...,7.1,NaN,NaN,Documentary,Doug Walker,Doug Walker,Rob Walker,NaN,0,131.0,143,NaN,NaN,NaN

In [4]:
# tabel die statistische weergaven geeft van de numerieke data van dataset 1
dataset_1.describe()

,imdb_score,title_year,duration,movie_facebook_likes,director_facebook_likes,cast_total_facebook_likes,num_user_for_reviews
count,5043.000000,4935.000000,5028.000000,5043.000000,4939.000000,5043.000000,5022.000000
mean,6.442138,2002.470517,107.201074,7525.964505,686.509212,9699.063851,272.770808
std,1.125116,12.474599,25.197441,19320.445110,2813.328607,18163.799124,377.982886
min,1.600000,1916.000000,7.000000,0.000000,0.000000,0.000000,1.000000
25%,5.800000,1999.000000,93.000000,0.000000,7.000000,1411.000000,65.000000
50%,6.600000,2005.000000,103.000000,166.000000,49.000000,3090.000000,156.000000
75%,7.200000,2011.000000,118.000000,3000.000000,194.500000,13756.500000,326.000000
max,9.500000,2016.000000,511.000000,349000.000000,23000.000000,656730.000000,5060.000000

In [5]:
# test om het bestand te lezen
df_2 = pd.read_csv("MoviesWithSequels.csv", encoding= 'unicode_escape') 
# head eerste 5 regels van het bestand
df_2.head()

,Position,Const,Created,Modified,Description,Title,URL,Title Type,IMDb Rating,Runtime (mins),Year,Genres,Num Votes,Release Date,Directors
0,1,tt0145487,03-11-2011,03-11-2011,NaN,Spider-Man,https://www.imdb.com/title/tt0145487/,movie,7.3,121.0,2002.0,"Action, Adventure, Sci-Fi",670777.0,30-04-2002,Sam Raimi
1,2,tt0316654,03-11-2011,03-11-2011,NaN,Spider-Man 2,https://www.imdb.com/title/tt0316654/,movie,7.3,127.0,2004.0,"Action, Adventure, Sci-Fi",528482.0,25-06-2004,Sam Raimi
2,3,tt0413300,03-11-2011,03-11-2011,NaN,Spider-Man 3,https://www.imdb.com/title/tt0413300/,movie,6.2,139.0,2007.0,"Action, Adventure, Sci-Fi",485814.0,03-04-2007,Sam Raimi
3,4,tt0133093,03-11-2011,03-11-2011,NaN,The Matrix,https://www.imdb.com/title/tt0133093/,movie,8.7,136.0,1999.0,"Action, Sci-Fi",1615984.0,24-03-1999,"Lilly Wachowski, Lana Wachowski"
4,5,tt0234215,03-11-2011,03-11-2011,NaN,The Matrix Reloaded,https://www.imdb.com/title/tt0234215/,movie,7.2,138.0,2003.0,"Action, Sci-Fi",502256.0,07-05-2003,"Lilly Wachowski, Lana Wachowski"

In [6]:
# data cleaning dataset 2
data_2 = df_2.drop(['Const', 'Position', 'Created', 'Modified', 'Description', 'Title Type', 'URL', 'Year'], axis=1)
dataset_2 = data_2.reindex(columns= ['Title', 'IMDb Rating', 'Release Date', 'Runtime (mins)', 'Genres', 'Directors', 'Num Votes'])
dataset_2.head()

,Title,IMDb Rating,Release Date,Runtime (mins),Genres,Directors,Num Votes
0,Spider-Man,7.3,30-04-2002,121.0,"Action, Adventure, Sci-Fi",Sam Raimi,670777.0
1,Spider-Man 2,7.3,25-06-2004,127.0,"Action, Adventure, Sci-Fi",Sam Raimi,528482.0
2,Spider-Man 3,6.2,03-04-2007,139.0,"Action, Adventure, Sci-Fi",Sam Raimi,485814.0
3,The Matrix,8.7,24-03-1999,136.0,"Action, Sci-Fi","Lilly Wachowski, Lana Wachowski",1615984.0
4,The Matrix Reloaded,7.2,07-05-2003,138.0,"Action, Sci-Fi","Lilly Wachowski, Lana Wachowski",502256.0

In [7]:
# tabel die statistische weergaven geeft van de numerieke data van dataset 2
dataset_2.describe()

       IMDb Rating  Runtime (mins)     Num Votes
count  1053.000000     1053.000000  1.053000e+03
mean      6.233428      105.039886  1.781977e+05
std       1.223566       19.299036  2.420719e+05
min       1.400000       21.000000  3.920000e+02
25%       5.500000       92.000000  2.680600e+04
50%       6.400000      101.000000  8.971700e+04
75%       7.100000      115.000000  2.254380e+05
max       9.200000      202.000000  2.220190e+06

In [8]:
# data set voor onderzoekvraag 1
data_onderzoekvraag_1 = dataset_1.drop(['movie_title', 'title_year', 'duration', 'genres', 'director_name', 'actor_1_name', 'actor_2_name', 'actor_3_name', 'content_rating', 'num_user_for_reviews', 'language'], axis=1)
data_onderzoekvraag_1.head()

,imdb_score,movie_facebook_likes,director_facebook_likes,cast_total_facebook_likes
0,7.9,33000,0.0,4834
1,7.1,0,563.0,48350
2,6.8,85000,0.0,11700
3,8.5,164000,22000.0,106759
4,7.1,0,131.0,143

In [14]:
# data set voor onderzoekvraag 2
data_onderzoekvraag_2 = dataset_1.drop(['director_name', 'actor_1_name', 'actor_2_name', 'actor_3_name', 'movie_facebook_likes', 'director_facebook_likes', 'cast_total_facebook_likes', 'num_user_for_reviews'], axis=1)
data_onderzoekvraag_2.head()

,movie_title,imdb_score,title_year,duration,genres,content_rating,language
0,Avatar,7.9,2009.0,178.0,Action|Adventure|Fantasy|Sci-Fi,PG-13,English
1,Pirates of the Caribbean: At World's End,7.1,2007.0,169.0,Action|Adventure|Fantasy,PG-13,English
2,Spectre,6.8,2015.0,148.0,Action|Adventure|Thriller,PG-13,English
3,The Dark Knight Rises,8.5,2012.0,164.0,Action|Thriller,PG-13,English
4,Star Wars: Episode VII - The Force AwakensÂ ...,7.1,NaN,NaN,Documentary,NaN,NaN

In [11]:
# data set voor onderzoekvraag 3
data_onderzoekvraag_3 = dataset_1.drop(['movie_title', 'duration', 'director_name', 'actor_1_name', 'actor_2_name', 'actor_3_name', 'content_rating', 'language', 'genres'], axis=1)
data_onderzoekvraag_3.head()

,imdb_score,title_year,movie_facebook_likes,director_facebook_likes,cast_total_facebook_likes,num_user_for_reviews
0,7.9,2009.0,33000,0.0,4834,3054.0
1,7.1,2007.0,0,563.0,48350,1238.0
2,6.8,2015.0,85000,0.0,11700,994.0
3,8.5,2012.0,164000,22000.0,106759,2701.0
4,7.1,NaN,0,131.0,143,NaN

In [12]:
# data set voor onderzoekvraag 4
data_onderzoekvraag_4 = dataset_2.drop(['Runtime (mins)', 'Genres', 'Directors', 'Num Votes'], axis=1)
data_onderzoekvraag_4.head()

                 Title  IMDb Rating Release Date
0           Spider-Man          7.3   30-04-2002
1         Spider-Man 2          7.3   25-06-2004
2         Spider-Man 3          6.2   03-04-2007
3           The Matrix          8.7   24-03-1999
4  The Matrix Reloaded          7.2   07-05-2003

In [ ]:
#random test hieronder >>>

In [ ]:
# Find out what main genre is, then selects all movies with that main genre.
genres = dataset_1['genres'].values.tolist()
maingenres = []
for x in genres:
    if '|' in x:
        x = x.split('|')
        x = x[0]
    maingenres.append(x)


dataset_1['main_genre'] = maingenres
dataset_1[dataset_1["main_genre"] == "Action"]

In [ ]:
dataset_1.plot.scatter(x='duration', y='imdb_score')

In [ ]:
df_1[['genres', 'imdb_score', 'title_year']]